.card {
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 70px;
}

.container {
  width: 100px;
  height: 70px;
  background: #37d4e2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

h6 {
  color: #000000;
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
}

h6.title {
  font-size: 1rem;
  margin-top: 5px;
}

